@media (max-width: 900px) {
    select {
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    select {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 4rem;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
    }

    .buttonContainer {
        flex-direction: column;
        margin-top: 20px;

        .newQ,
        .newCat {
            margin: 10px;
        }
    }
}

@media (max-width: 450px) {
    select {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
        line-height: 32px;
    }

    p {
        font-size: 1rem;
    }
}
