// Importing partials
@import "variables";
@import "setup";
@import "global-styles";

/*********************/
/*        NAV        */
/*********************/

nav {
    background-color: $main-color;

    .navContainer {
        height: 10vh;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            max-height: 6rem;
        }

        h1 {
            color: $secondary-color;
        }
    }

}

/*********************/
/*    MAIN/LANDING   */
/*********************/

// Intro/About Section

.landing {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span {
        color: $tertiary-color;
    }
}

// Results Section
.results {
    background-color: $main-color;
    display: none;

    .resultsContainer {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            color: $secondary-color;
        }

        .buttonContainer {
            display: flex;
        }
    } 
}

/*********************/
/*       FOOTER      */
/*********************/

footer {
    height: 10vh;
    .footerText {
        margin: 10px 0;
    }

    p {
        margin: 0;
    }
}