html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Domine", "serif";
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fefafa;
}

a:hover, a:focus {
  color: #00A64D;
}

a:active {
  color: #00A64D;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  padding: 5px 0;
}

h1, h2 {
  font-family: "Montserrat", "sans-serif";
  font-size: 6rem;
  font-weight: 700;
  color: #0a0909;
  line-height: 37px;
}

h2 {
  font-size: 5rem;
  line-height: 6rem;
}

i {
  color: #fefafa;
  font-size: 2rem;
}

p {
  font-size: 2rem;
  margin: 20px 0;
}

fieldset {
  margin: 20px 0;
  border: none;
}

input,
button {
  min-width: 200px;
  margin: 20px;
  background-color: #00A64D;
  padding: 20px;
  border: 2px solid #0a0909;
  border-radius: 15px;
}

input:hover, input:focus,
button:hover,
button:focus {
  background-color: #0a0909;
  color: #fefafa;
  border: 2px solid #00A64D;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Down arrow courtesy of The Filament Group */
select {
  width: 50%;
  max-width: 50%;
  font-family: "Montserrat", "sans-serif";
  font-size: 2rem;
  padding: 2rem;
  border: 2px solid #0a0909;
  border-radius: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%25007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select:hover, select:focus {
  border: 3px solid #00A64D;
}

footer {
  background-color: black;
  color: #fefafa;
  padding: 10px;
  text-align: center;
}

/*********************/
/*        NAV        */
/*********************/
nav {
  background-color: #0a0909;
}

nav .navContainer {
  height: 10vh;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navContainer img {
  max-height: 6rem;
}

nav .navContainer h1 {
  color: #fefafa;
}

/*********************/
/*    MAIN/LANDING   */
/*********************/
.landing {
  height: 90vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing span {
  color: #00A64D;
}

.results {
  background-color: #0a0909;
  display: none;
}

.results .resultsContainer {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results .resultsContainer h2 {
  color: #fefafa;
}

.results .resultsContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results .resultsContainer i {
  padding: 0 5px;
}

/*********************/
/*       FOOTER      */
/*********************/
footer {
  height: 10vh;
}

footer .footerText {
  margin: 10px 0;
}

footer p {
  margin: 0;
}

@media (max-width: 900px) {
  select {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  select {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 4rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
  .buttonContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .buttonContainer .newQ,
  .buttonContainer .newCat {
    margin: 10px;
  }
}

@media (max-width: 450px) {
  select {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 32px;
  }
  p {
    font-size: 1rem;
  }
}
